/* Body - fonts
----------------------------------------------- */

$body-font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
$body-font-weight: 300;
$body-font-style: normal;
$body-text-rendering: optimizeLegibility;

/* Global
----------------------------------------------- */

$vertical-spacing: 25px;		// used for spacing throughout the site
$radius:3px;					// You can use this variable throughout your site to globalize border-radius size
$text-direction:ltr;			// Change the direction of text flow
$min-page-width:1000px;			// Set a minimum page width so that the browser doesn't squash everything

/* Font Specific Settings
----------------------------------------------- */ 

$base-font-size:  14px;			// Main font size to use throughout the site
$line-height: 25px;				// Global line-height
$font-smoothing: antialiased;   // Font smoothing

$header-font-family: 'Arial', sans-serif;
$header-font-weight: 300;
$header-font-style: normal;
$header-font-color: #fff; 
$header-line-height: normal;
$header-top-margin: 0; 
$header-bottom-margin: 20px; 
$header-text-rendering: optimizeLegibility; 

								
$h1-font-size:26px;				// Header Sizes (converted to ems)
$h2-font-size:22px;				// Header Sizes (converted to ems)
$h3-font-size:20px;				// Header Sizes (converted to ems)
$h4-font-size:18px;				// Header Sizes (converted to ems)
$h5-font-size:16px;				// Header Sizes (converted to ems)
$h6-font-size:14px;				// Header Sizes (converted to ems)

/* Form Settings 
----------------------------------------------- */

$form-padding:5px;
$form-border-color:#ddd;
$form-border-size:1px;
$form-border-style:solid; 


/* Tables
----------------------------------------------- */


$table-header-background-color:black; 
$table-header-text-color:#1abc9c; 
$table-body-text-color:#fff;
$table-row-background-color:#222; 
$table-row-alt-background-color:darken(#222,3%);
$table-border-color:#111;  
$table-border-size:1px;


/* Button settings
----------------------------------------------- */

$button-font-size:13px;
$button-text-color:#fff;  

// Helpful variables
$i:!important;					// Shortcut for the !important tag

/* Site colour variables
----------------------------------------------- */

$brandColour1:#34495e;
$brandColour2:#1abc9c;
$brandColour3:blue;
$brandColour4:orange;

$linkColor:                           #16a085 !default;
$linkHoverColor:                      #08c    !default;
$body-background: 					  #000000 !default;
$body-color:                          #ffffff !default; 

$warningText:                         #c09853 !default;
$alertText:                           #c09853 !default;
$alertBackground:                     #c09853 !default;
$warningBackground:                   #fcf8e3 !default;
$errorText:                           #b94a48 !default; 
$errorBackground:                     #f2dede !default;
$successText:                         #468847 !default;
$successBackground:                   #dff0d8 !default;
$infoText:                            #3a87ad !default; 
$infoBackground:                      #d9edf7 !default;


/* Settings for SassyGrids 
----------------------------------------------------------------------------------------------------*/

$columnWidth:       40;
$numberOfColumns:   16;
$gutterWidth:       20;
$breakDimensions:   auto 4;


// Additional Media Queery Settings
//Usage: @include respond-to(xsmall){//css}

$xsmall:    200px;
$small:     300px;
$medium:    500px;
$large:     700px;
$xlarge:    900px;
$xxlarge:   1100px;
$xxxlarge:  1400px;



