@import '../shared/framework';

.inner {
	@include container();     
}

.gradient {
	@include sassyGradient(rgba($brandColour1, .1), rgba($brandColour2, 0.2));
	@include inline-block();
}

.gridContainer {
	div[class*="grid"], .oneCol, .twoCols, .threeCols, .fourCols, .fiveCols, .sixCols, .sevenCols, .eightCols, .nineCols, .tenCols {
		height: 66px;
		margin-top:10px;
		margin-bottom:10px;
		@include border-radius(3px);
		background-color: lighten($brandColour1,5%);
		@include box-shadow(1px 1px 3px rgba(black,.75), inset 0 33px rgba(white,.21), inset 0 0 17px rgba(lighten($brandColour2,70%),.41));
		@include linear-gradient(top, rgba($brandColour1,.74), rgba($brandColour2,.74));
		text-align:center;
		line-height:66px;

		div {position:relative;
			&:before {position:absolute;border-left: 1px inset black;content:''; height:66px; left:0px;}
			&:after  {position:absolute;border-right: 1px inset black;content:''; height:66px;right:0px;}
		}
	} 
}

 