@import "../shared/framework";

// =========== Base

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


html {    
    min-width:$min-page-width; 
}

body {
    direction:$text-direction;    
    font-weight: $body-font-weight;
    font-family: $body-font-family;
    font-style : $body-font-style;
    @include font-size($base-font-size);
    line-height: $line-height;
    background:$body-background;
    color: $body-color;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: $body-text-rendering;
    @if $font-smoothing == antialiased {
        -webkit-font-smoothing: $font-smoothing;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);    
    } @else {
        -webkit-font-smoothing: $font-smoothing;
    }
    margin: 0;
    
    @include respond-to(medium) {
        font-size: em($base-font-size);
    }
    @include placeholder {
        color: lighten($body-color, 50%);
        font-size: em($base-font-size - 2px);
        font-weight: normal; 
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    font-style : $header-font-style;
    line-height: $header-line-height;
    margin: $header-top-margin 0 $header-bottom-margin 0;
    text-rendering: $header-text-rendering;
    color: $header-font-color;
}

h1 {
    font-size: em($h1-font-size);
}

h2 {
    font-size: em($h2-font-size);
}

h3 {
    font-size: em($h3-font-size);
}

h4 {
    font-size: em($h4-font-size);
}

h5 {
    font-size: em($h5-font-size);
}

h6 {
    font-size: em($h6-font-size);
}

p {
    margin-bottom: $vertical-spacing;
}

/* ==========================================================================
   Links
   ========================================================================== */

a,
a:active,
a:hover {
    outline: 0;
}

a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: darken($linkColor, 50%);
    }
}

/* ==========================================================================
   Horizontal Rules
   ========================================================================== */

hr {
    background-color: transparent;
    border: solid lighten($body-color, 80%);
    border-width: 1px 0 0;
    clear: both;
    margin: 2em $vertical-spacing;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    @include inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Lists
   ========================================================================== */

ul, ol {
    margin: 0 0 $vertical-spacing 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dl {
    margin-bottom: $vertical-spacing;
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: $vertical-spacing;
    }
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
    color: lighten($body-color, 50%);
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code, pre {
    font-family: 'courier new', monospace;
}

abbr {
    border-bottom: 1px dotted lighten($body-color, 50%);
}

del {
    text-decoration: line-through;
}

blockquote {
    quotes: none;
    color: lighten($body-color, 50%);
    font: italic 1.2em Georgia, serif;
    line-height: $line-height;
    margin-bottom: $vertical-spacing;
    padding: 0 0 0 2em;
    position: relative;
    &:before {
        color: lighten($body-color, 75%);
        content: "\201C";
        display: block;
        font-size: 5em;
        @include position(absolute, 0.25em auto auto -0.15em);
    }
    cite {
        color: lighten($body-color, 35%);
        display: block;
        font-size: 0.85em;
        &:before {
            content: "\2014 \0020";
        }
    }
}

figure {
    @include inline-block;
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
    figcaption {
        color: blue;
    }
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440 
 */

img {
    border: 0;
    vertical-align: middle;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 0;
    margin: 0 2px;
    padding: 0;
    display: inline;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    color: inherit;
    border: 0;
    padding: 0;
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 2 */
    margin: 0;
    /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    //-webkit-appearance: button; /* 2 */
    cursor: pointer;
    /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
    resize: vertical;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0;
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

th span {
    font-weight: normal;
    padding-left: 5px;
}

thead th, tbody tr td {
    padding: 10px 0;
}

.borderTheme thead th, .borderTheme tbody tr td {
    border-bottom: 1px solid #333;
}

::-moz-focus-inner, :active, :focus {
    outline: none;
    outline: 0;
    -moz-outline-style: none;
}

:focus {
    outline: 0;
}
