@mixin cols($n, $fluid: false, $addMargin: false, $subtractBorder:false, $borderVal: 0, $outputGutter: true){
  @if $noErrors {
    $n: gw($n, $fluid, $addMargin, false);
    $p: unquote("%");
    @if $subtractBorder == true {
      @if $fluid == true {
        $borderVal : perc($borderVal * 2, $fullWidth);
      } @else {
        $borderVal: ($borderVal * 2);
      }     
      @if $fluid != true {
        $n: ($n - $borderVal) + px;
      } @else {
        $n: $n - $borderVal;
      } 
    } @else {
      @if $fluid != true {
        $n: $n + px;
      } @else {
        $n: $n#{$p};
      }
    }
    @if $outputGutter == true {
      @if $fluid {
        @include gutter(true);
      } @else {
        @include gutter();
      }
    } @else {
      margin-left:0px; margin-right:0px;
    }
    width: $n;  
    display:inline;
    float: left;
    position: relative;
  }
}