@mixin post($n, $fluid: false, $addMargin: true){
  @if $noErrors {
    @if $n > $numberOfColumns {
      @warn $columnExceededWarning;
    } @else {
    	$post:gw($n, false, $addMargin, false);
    	$postGutter:$post + ($gutterWidth / 2);
    	@if $fluid {
			margin-right: perc($postGutter, $fullWidth);
    	}@else {
    		margin-right: $postGutter + px;	
    	}      	
    }  
  }
}