/* Settings for SassyGrids 
----------------------------------------------------------------------------------------------------*/



$columnWidth:       40;
$numberOfColumns:   16;
$gutterWidth:       20;
$breakDimensions:   auto 4;


// Additional Media Queery Settings
//Usage: @include respond-to(xsmall){//css}

$xsmall:    200px;
$small:     300px;
$medium:    500px;
$large:     700px;
$xlarge:    900px;
$xxlarge:   1100px;
$xxxlarge:  1400px;



